
<div class="col-md-12">
    <input type="text" ng-model="SearchHotels" placeholder="Seaerch" />
    <hr />
</div>
<div class="row">
    <div class="col-md-4" ng-repeat="Hotel in Hotels | filter:SearchHotels | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
        <div class="thumbnail">
            <a href="#"><img ng-src="{{Hotel.img}}" alt="{{Hotel.alt}}"></a>
            <div class="caption">
                <h3>{{Hotel.Cont1}}</h3>
                <p>{{Hotel.Cont2}}</p>
                <p><a href="#" class="btn btn-primary" role="button">More</a></p>
            </div>
        </div>
    </div>
</div>

<pagination></pagination>
