<div class="col-md-12">
    <button type="button" class="btn btn-primary">Add new hotel</button>
    <hr />
</div>

<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Hotel Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">10281</th>
                <td>Grand Hotel Kronenhof</td>
                <td>Pontresina, Switzerland</td>
                <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">28520</th>
                <td>The Upper House</td>
                <td>Hong Kong, China</td>
                <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">38450</th>
                <td>Gili Lankanfushi Maldives</td>
                <td>Lankanfushi, North Male Atoll, Kaafu Atoll</td>
                <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="pagination">
    <ul>
        <li class="disabled">
            <a href="javascript:void(0);">« Prev</a>
        </li>
        <li class="active">
            <a href="javascript:void(0);">1</a>
        </li>
        <li>
            <a href="javascript:void(0);">2</a>
        </li>
        <li>
            <a href="javascript:void(0);">Next »</a>
        </li>
    </ul>
</div>
