<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

<system.webServer>
    <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
</system.webServer>


  <system.webServer>
    <handlers>
      <add name="JSON" path="*.json" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="File" requireAccess="None" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
        <verbs>
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>


</configuration>
